.container {
  box-sizing: border-box;
  border-top: solid rgba(var(--color-r0)/03) 1px;
}

.buttons {
  margin-top: 3px;
  display: flex;
  gap: 20px;
}

.tabButton {
  box-sizing: border-box;
  color: #515151;
  text-align: start;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: .05rem;
  width: unset;
  height: 40px;
  border-top: solid 4px rgba(var(--color-r0)/0);
  margin-top: -3px;
}

.extraLetterSpacing {
  color: #515151;
  letter-spacing: .2rem;
}

.borderTop {
  border-top: solid 4px rgba(var(--color-r0)/03);


}