.container {
  position: relative;
  display: flex;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.left {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  gap: 5px;
}

.button {
  position: absolute;
  right: 25px;
  top: 10px;
  width: 0;

}

.title {
  font-weight: 600;
  font-size: 18px;
}

.price {
  font-weight: 300;
  font-size: 16px;
}


.circle {
  border: solid 1px var(--color-6);
  border-radius: 50%;
}

@media only screen and (max-width: 500px) {
  .title {
    font-weight: 600;
    font-size: 15px;
  }

  .price {
    font-weight: 200;
    font-size: 13px;
  }
}