.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 60px 0;

}

.payment_container {
  padding-top: 40px;
  width: 55%;
  margin: 0 auto;
}

.windowIcon {
  margin-right: 10px;
}

.errorNoPaymentOption {
  display: flex;
  margin: 10px auto 0;
  border: solid 1px rgba(var(--color-r3)/.2);
  background-color: #cdddf834;
  word-spacing: 3px;
  letter-spacing: 1px;
  padding: 20px;
  border-radius: 3px;
}