.shop {
  width: calc(90% + 40px);
  padding-top: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.shopHead {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.shopHeader {
  font-size: 35px;
  font-weight: 300;
  vertical-align: middle;
}

.items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
}



@media only screen and (min-width: 1024px) {
  .shop {
    max-width: 1200px;
  }
}

@media only screen and (min-width: 768px) {
  .shopHead {
    padding: 0 20px;
  }

}

@media only screen and (max-width: 768px) {
  .shop {
    padding-top: 60px;
  }

  .shopHead {
    flex-direction: column;

  }

  .shopHeader {
    padding-bottom: 20px;
  }
}