.tick {
  position: absolute;
  left: 20px;
}

.undo {
  letter-spacing: 1px;
  position: relative;
  display: flex;
  align-items: center;
  border-top: solid 3px black;
  width: 100%;
  height: 60px;
  background-color: rgba(var(--color-r4)/.5);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 60px;
  text-indent: 50px;
}

.undo_button {
  display: flex;
  align-items: end;
  text-indent: 7px;
  font-weight: 500;
  font-size: 18px;
  background-color: unset;
  border: unset;
  transition: .3s ease-in;
  font-family: "Times New Roman";
}

.undo_button:hover {
  font-family: "Times New Roman";
  transition: .3s ease-in;
  color: var(--color-1);
}