* {
  padding: 0;
  margin: 0;
  text-decoration: none;

  color: unset;
  box-sizing: border-box;
}

body {
  background-color: var(--color-5);

}

button {
  cursor: pointer;
  width: 120px;
  height: 50px;
  border: var(--color-5);
  background-color: var(--color-5);
  color: black;

}

:root {
  --color-0: rgb(198, 216, 192);
  --color-1: rgb(92, 151, 53);
  --color-2: rgb(20, 26, 15);
  --color-3: rgb(77, 79, 72);
  --color-4: rgb(244, 246, 243);
  --color-5: #ffffff;
  --color-6: rgb(118, 132, 113);
  --color-7: rgb(20, 26, 15);
  --color-r0: 198 216 192;
  --color-r1: 92 151 53;
  --color-r2: 20 26 15;
  --color-r3: 77 79 72;
  --color-r4: 244 246 243;
  --color-r6: 118 132 113;
  --color-r7: 20 26 15;
}