.container {
  position: relative;
  width: 100%;
  height: 650px;
  overflow: hidden;
  background-color: rgba(var(--color-r2)/ 0.6);
}

.image {
  position: absolute;
  z-index: -10;
  aspect-ratio: 65/45;
  transform: rotateY(180deg);
  z-index: -1;
}

.blurb {
  color: var(--color-4);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px 0;
  text-align: center;
  width: 95%;
  margin: 0 auto;
}

.firstHeader {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 2px;
  margin-bottom: -20px;
}

.secondHeader {
  letter-spacing: 3px;
  font-size: 65px;
  font-weight: 500;
}

.paragraph {
  letter-spacing: 1.5px;
  font-weight: 400;
  font-size: 15px;
}

.button {
  width: 220px;
  height: 50px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: .5px;

  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .container {
    max-height: 400px;
  }

  .firstHeader {
    font-size: 16px;
  }

  .secondHeader {
    font-size: 40px;
    text-align: center;
  }

  .image {
    aspect-ratio: 65/45;
  }

  .button {
    font-size: 12px;
    width: 160px;
  }
}